@charset "UTF-8";

body, html {
	width: 100%;
	height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Cantarell', Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.bg-site {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	color: #f8f8f8; 
	background: #74ebd5;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.intro-message {
	position: relative;
	padding-top: 20%;
	padding-bottom: 20%;
}

.intro-message>h1 {
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	font-size: 5em;
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message>h3 {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-social-buttons i {
	font-size: 80%;
}

@media(max-width:767px) {
  .intro-message {
	padding-bottom: 15%;
  }
  .intro-message>h1 {
	font-size: 3em;
  }
  ul.intro-social-buttons>li {
	display: block;
	margin-bottom: 20px;
	padding: 0;
  }
  ul.intro-social-buttons>li:last-child {
	margin-bottom: 0;
  }
  .intro-divider {
	width: 100%;
  }
}

.network-name {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
}

.content-section-a {
	padding: 50px 0;
	background-color: #f8f8f8;
}

.content-section-b {
	padding: 50px 0;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}

.section-heading {
	margin-bottom: 30px;
}

.section-heading-spacer {
	float: left;
	width: 200px;
	border-top: 3px solid #e7e7e7;
}

.container-form {
    background: rgba(255, 255, 255, 0.42);
    padding: 30px 50px;
    width: 55%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.container-form h1 {
	color: #777;
	margin-bottom: 15px;
}

.container-form label {
	text-align: left;
    display: block;
    color: #777;
}
.container-form .field {
	margin-bottom: 15px;
}
.btn-secondary {
	width: 100%;
	margin-top: 15px;
	color: #fff;
	background-color: #337ab7;
}

.toggle-pessoa {
	display: block;
	text-align: right;
	margin-top: -25px;
	margin-bottom: 5px;
	cursor: pointer;	
}


/*
****
Sobreescrevendo bootstrap
****
*/
.navbar {
	margin-bottom: 0 !important;
}

div.tooltip.top {
	margin-top: 15px;
}
.tooltip-inner.fail {
    background-color: #f1475e;
}
.tooltip .tooltip-arrow.fail {
    border-top-color: #f1475e;
}
